#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  overflow-y: auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* .home {
  position: absolute;
  inset: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 50;
  
 .title {
  color: white;
  font-size: 60px;
  line-height: 1;
  font-weight: 700px;
 }

 .board {
  width: 1000px;
  height: 1000px;
  background-color: yellow;

  .business-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;

    Business {
      min-height: 300px;
      min-width: 300px;
      background-color: aquamarine;
      margin: 20px;
    }
  }
 }
} */

.first {
  /* min-height: 100vh; */
  background-color:rgba(255, 239, 213, 0.493);
  display: flex;
  flex-direction: column;
  padding-top: 50px;

  .header-bar {
    width: 100%;
    height: 50px;
    background-color: rgba(218, 218, 150, 0.933);
    position: fixed;
    top: 0;
    left: 0;

    P {
      text-align: center;
      height: 100%;
      color: #525252;
      font-size: 30px;
      font-weight: 700;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
  }

  .searchbar {
    width: 100%;
    height: 250px;
    background-color: rgba(83, 83, 83, 0.762);


  }

  P {

    
  }
}

.searchbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
  .holder {
  
    &._filter {
      height: 75px;
      width: 500px;
      /* background-color: aqua; */
      display: flex;
      flex-direction: row;
      /* justify-content: space-between; */
      justify-content: center;
      align-items: center;
      gap: 20px;

      button {
        background-color: aliceblue;
        width: 200px;
        height: 40px;
        display: flex;
        align-items: center;      /* Vertical centering */
        justify-content: center;  /* Horizontal centering */

        &:hover {
          background-color: rgb(133, 178, 154);
          /* background-color: rgb(255, 72, 87); */
        }

        &.active {
          background-color: rgb(255, 0, 0);
        }
    
      }
      
    }
    &._search {
      height: 75px;
      width: 800px;
      /* background-color: aqua; */
      display: flex;
      flex-direction: row;
      /* gap: 20px; */

      input {
        width: 100%;
        margin: 10px;
        background-color:rgba(255, 239, 213, 0.493);
        border-radius: 8px;
        text-align: center;
      }
      
      
      
    }
    &._button {
      height: 75px;
      width: 300px;
      /* margin: 12.5px; */
      padding: 12.5px;
      
      button {
        width: 100%;
        height: 100%;;
        background-color: rgba(218, 218, 150, 0.933);
        
      }

      button:disabled {
        opacity: 0.5;
        cursor: not-allowed;
        background-color: #ccc;
        color: #666;
      }
  
    }
  
  
  }

}

.business-list {
  display: grid;
  /* margin: 50px 100px; */
  grid-template-columns: repeat(3, minmax(0, 1fr));
  /* gap: 20px; */
  /* background-color: red; */
  /* width: 100%; */
  /* height: 2000px; */

  justify-items: center;  /* Centers items horizontally in their grid cells */
  align-items: center;   
}


.business {
  min-height: 450px;
  height: auto;
  width: 350px;
  /* background-color: aquamarine;
  background-color: azure; */
  background-color: rgba(180, 180, 180, 0.088);
  margin: 20px;

  .image-space {
    height: 400px;
    width: full;
    overflow: hidden; /* Prevents images from breaking out of container */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .holder {
    padding: 20px 10px 10px 10px;
    padding: 20px 0 10px 0;
    /* background-color: azure; */

    .smaller-text {
      padding-top: 20px;

      display: flex;
      flex-direction: row;

      font-family: "Playwrite US Modern", cursive;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-size: 20px;;
  

      .left {
        width: 65%;
      }

      .right {
        width: 35%;
        text-align: right;

      }
    }
  }



  .name {
    font-family: "Playwrite DE Grund Guides", cursive;
    /* font-weight: 800;
    font-style: normal; */
    font-size: 30px;
  }


}


